.pagination {
  padding: 20px 0 6px;
  text-align: center;
  .total, .page-size {
    margin-right: 18px;
    line-height: 32px;
    user-select: none;
  }
  .page-number {
    display: inline-block;
    li {
      display: inline-block;
      user-select: none;
      width: 30px;
      line-height: 30px;
      border: 1px solid #69B3CB;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 6px;
      color: #fff;
      background: #314968;
      opacity: .6;
      &.current {
        opacity: 1;
      }
      &.transition {
        color: #314968;
        border: 0;
        background: transparent;
      }
      &.hide {
        display: none;
      }
      &:hover {
        opacity: .95;
      }
      &:last-child {
        margin-right: 0;
      }
    }

  }
}
